<?xml version="1.0"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="BillingSystem.Properties.Settings.dbCommercialConnectionString" connectionString="Data Source=DKP-MISD-002\SQLSERVERDEV;Connection Timeout=0;Initial Catalog=dbCommercial;Persist Security Info=True;User ID=commsys;Password=comm123;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="ServerNew" connectionString="DKP-MISD-002\SQLSERVERDEV"/>
    <add name="Notification" connectionString="Data Source=DKP-MISD-002\SQLSERVERDEV;Connection Timeout=0;Initial Catalog=dbNotify;Persist Security Info=True;User ID=commsys;Password=comm123;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="LiveServer" connectionString="Data Source=DKP-MISD-002\SQLSERVERDEV;Connection Timeout=0;Initial Catalog=dbCommercial;Persist Security Info=True;User ID=commsys;Password=comm123;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="BillingSystem.Properties.Settings.dbRaffleConnectionString" connectionString="Data Source=DKP-MISD-002\SQLSERVERDEV;Initial Catalog=dbRaffle;User ID=commsys;Password=comm123" providerName="System.Data.SqlClient"/>
    <add name="dbCommercialEntities" connectionString="metadata=res://*/dbCommercial.csdl|res://*/dbCommercial.ssdl|res://*/dbCommercial.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DKP-MISD-002\SQLSERVERDEV;Connection Timeout=0;initial catalog=dbCommercial;persist security info=True;user id=commsys;password=comm123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="dbRezoneEntities" connectionString="metadata=res://*/Model3.csdl|res://*/Model3.ssdl|res://*/Model3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DKP-MISD-002\SQLSERVERDEV;initial catalog=dbRezone;persist security info=True;user id=sa;password=twd_12161981;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="dbRaffleEntities" connectionString="metadata=res://*/Model5.csdl|res://*/Model5.ssdl|res://*/Model5.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DKP-MISD-002\SQLSERVERDEV;initial catalog=dbRaffle;persist security info=True;user id=commsys;password=comm123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="dbCommercialEntitiesLIVE" connectionString="metadata=res://*/Model6.csdl|res://*/Model6.ssdl|res://*/Model6.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DKP-MISD-002\SQLSERVERDEV;initial catalog=dbCommercial;persist security info=True;user id=commsys;password=comm123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="BillingSystem.Properties.Settings.dbCommercialConnectionString1" connectionString="Data Source=DKP-MISD-002\SQLSERVERDEV;Initial Catalog=dbCommercial;Persist Security Info=True;User ID=commsys;Password=comm123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.SqlClrProvider" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
